<header class="header">
	<h2>Header</h2>
	<div class="container">

		<div class="header__inner">
			<div class="header__logo"></div>
			<div class="header__menu" id="menu">
				<nav class="header__nav nav" id="nav">
					<a class="nav__link" href="#"></a>
				</nav>
			</div>
			<!-- Burger -->
			<div class="burger" id="burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- Burger Menu -->
	<div class="burger-menu" id="burger-menu">
		<div class="burger-menu__header">
			<div class="burger-menu__logo"></div>
			<div class="burger-menu__close" id="burger-menu-close">
				<img src="@img/icons/close.svg" alt="">
			</div>
		</div>
		<div class="burger-menu__nav" id="burger-nav"></div>
		<div class="burger-menu__footer"></div>
	</div>
</header>